h1{
    font-size: 40px;
   


}
.orange{
    color:orange;
}
section{
    display:flex;
}
.one{
    width:50%;
    padding-left: 2%;

}
.one img{
    width:80%;
    margin-left: 30px;

}
.link{
    text-decoration: none;
    background-color: rgb(19, 199, 13);
    padding:5px 25px;
    color: white;
    border-radius: 5px;
  
}



.middle{
    text-align: center;
}


.div-parent{
    display: flex;
    margin-right: 20px;
}



.div-one{
    display:inline-block;
    background-color:  #f092e2; 
    height: 250px;
    margin: 1%;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
}
.div-two{ display:inline-block;
    background-color:aquamarine;   
    height: 250px;
    margin: 1%;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
   
}
.div-three{ 
    display:inline-block;
    background-color: pink;   
    height: 250px;
    margin: 1%;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
}
.div-parent img{
    width:120px;
}
